{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 100,
    "cppIncludeSort": "none",
    "cppBracketSpacing": true,
    "cppSingleLineBlockBraces": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "jsxBracketSameLine": false,
    "cppTemplateSpaces": false
  }
  